@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: #FFF8F3;
    background: #FD6E0A;
    margin-bottom: 20px;
}

h1 {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}

h3 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #181818;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
}

li {
    color: #181818;
    font-size: 20px;
    font-weight: 400;
}

h4 {
    color: #181818;
    font-size: 20px;
    font-weight: 600;
}

li {
    list-style: none;
}

/* There was some impotent and common style on top  */
header {
    background: #FFF8F3;
    background-image: url('images/developer.png'), url("images/header_bg.png");
    background-repeat: no-repeat;
    padding: 25px 155px;
    background-position: left 80%, right 90%;
    background-color: #cec7c7;
    background-blend-mode: multiply;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 span {
    color: #FD6E0A;
}

nav h2,
nav ul li,
button {
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
}


#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.person img {
    margin: 0 0 0 20%;
}

#about,
#do,
#summery {
    margin: 130px 230px;
    background: #FFF8F3;
    text-align: center;
    padding: 131px 157px;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 55px;
}

#do {
    background: #fff;
}

#do .card-body {
    margin-top: 100px;
    display: flex;
    gap: 15px;
    text-align: left;
    align-items: center;
    justify-content: center;
    align-items: center;
}

#do .card-body .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 32px;
    width: 267px;
    height: auto;
}

#do .card-body .card img {
    width: 45px;
    height: 45px;
    margin-bottom: 30px;
}

/* #do .card-body .card .card-title{
    padding-left: 10px;
} */
#do .card-body .card h4 {
    font-size: 20px;
    margin-bottom: 30px;
}

#do .card-body .card p {
    font-size: 16px;
}
#summery{
    background: #fff;
}